<div class="container">
  <div class="row">
    <h4>日報一覧</h4>
  </div>
  <div class="row mb-3">
    <%= render "employee/daily_reports/form" %>
  </div>
  <div class="row">
    <div class="col-5">
      <table class="table table-bordered">
        <thead class="thead-light">
        <th>部署</th>
        <th>日報作成日</th>
      </thead>
        <% @daily_reports.each do |daily_report| %>
        <tr>
          <td>
            <%= daily_report.department.name %>
          </td>
          <td>
            <%= link_to employer_daily_report_path(daily_report.id), class: 'text-dark  btn-default' do %>
              <%= daily_report.created_at.strftime('%Y/%m/%d') %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= paginate @daily_reports %>
    </div>
  </div>
</div>