<h2>従業員新規登録</h2>

<%= form_with model: @employee, url: employee_registration_path, id: "new_employee", class: "new_employee" do |f| %>
  <%= render "employee/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <label class="col-3 col-form-label">ユーザーコード</label>
    <div class="col">
      <%= f.text_field :user_code, class: "form-control" %>
    </div>
    <label class="col-3 col-form-label">名前</label>
    <label>(姓)</label>
    <div class="col">
        <%= f.text_field :last_name, placeholder: "令和", class: "form-control" %>
    </div>
    <label>(名)</label>
    <div class="col">
        <%= f.text_field :first_name, placeholder: "道子", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">フリガナ</label>
    <label>(セイ)</label>
    <div class="col">
      <%= f.text_field :last_name_kana, placeholder: "レイワ", class: "form-control" %>
    </div>
    <label>(カナ)</label>
    <div class="col">
      <%= f.text_field :first_name_kana, placeholder: "ミチコ", class: "form-control" %>
    </div>
  </div>
  <div>
    <%= f.select :department_id, options_from_collection_for_select(Department.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
