<div class="container">
  <div class="row mb-3">
    <% if @todays_tasks.present? %>
      <h4><%= @todays_date.created_at.strftime('%Y/%m/%d') %>の日報</h4>
    <% else %>
      <h4>日報登録</h4>
    <% end %>
  </div>
  <div class="row mb-3">
    <% if @todays_tasks.present? %>
      <%= form_with(model: @daily_report, url: daily_reports_path, method: :post) do |f| %>
        <%= f.hidden_field :department_id, value: current_employee.department.id %>
        <%= f.submit '日報登録', class: 'btn btn-outline-success' %>
      <% end %>
    <% else %>
      <%= form_with(model: @todays_task, url: todays_tasks_path, method: :post) do |f| %>
        <%= f.hidden_field :department_id, value: current_employee.department.id %>
        <%= f.submit '新規日報作成', class: 'btn btn-outline-success' %>
      <% end %>
    <% end %>
  </div>
  <%# todays_reportsの存在確認。登録済みの場合以下を表示　%>
  <% if @todays_tasks.present? %>
    <div class="row">
      <table class="table table-bordered mb-5">
        <thead class="thead-light">
          <th>時間</th>
          <th>業務名</th>
          <th>実行者</th>
          <th></th>
        </thead>
        <% @todays_tasks.each do |todays_task| %>
          <tr>
            <td>
              <%= todays_task.task.execution_time.strftime('%H:%M') %>
            </td>
            <td>
              <%= todays_task.task.name %>
            </td>
            <%= form_with model: todays_task do |f| %>
            <td>
              <%= f.select :practitioner, options_from_collection_for_select(current_employee.department.employees.all.where(is_active: "有効"), :id, :employee_display, { :selected => todays_task.practitioner.to_i }), { prompt: '選択してください' } %>
            </td>
            <td>
              <%= f.submit '変更', class: 'btn btn-outline-success' %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <%# handoverの存在確認 %>
    <% if @handover.blank? %>
      <%# 未作成の場合は以下を表示 %>
      <%= form_with(model: @handover_blank, url: create_handover_path, method: :post) do |f| %>
        <div class="form-group row">
          <div class="col-12">
            <%= f.text_area :handover, class: 'form-control' %>
          </div>
        </div>
        <%= f.hidden_field :department_id, value: current_employee.department.id %>
        <div class="form-group row">
          <div class="col">
            <%= f.submit '引継ぎ作成', class: 'btn btn-outline-primary' %>
          </div>
        </div>
      <% end %>
    <% else %>
     <%# 登録済みの場合は以下を表示 %>
      <%= form_with(model: @handover, url: update_handover_path, method: :patch) do |f| %>
        <div class="form-group rows=5">
          <div class="col-12">
            <%= f.text_area :handover, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <%= f.submit '引継ぎ更新', class: 'btn btn-outline-success' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>