<div class="container">
  <div class="row">
    <h4>日報登録</h4>
  </div>
  <div class="row mb-3">
    <% if @todays_reports.present? %>
      <%= form_with(model: @daily_report, url: daily_reports_path, method: :post) do |f| %>
        <%= f.hidden_field :department_id, value: current_employee.department.id %>
        <%= f.submit '日報登録', class: 'btn btn-outline-success' %>
      <% end %>
    <% else %>
      <%= form_with(model: @todays_report, url: todays_reports_path, method: :post) do |f| %>
        <%= f.hidden_field :department_id, value: current_employee.department.id %>
        <%= f.submit '新規日報作成', class: 'btn btn-outline-success' %>
      <% end %>
    <% end %>
  </div>
  <%# todays_reportsの存在確認。登録済みの場合以下を表示　%>
  <% if @todays_reports.present? %>
    <div class="row">
      <table class="table table-bordered mb-5">
        <thead class="thead-light">
          <th>時間</th>
          <th>業務名</th>
          <th>実行者</th>
          <th></th>
        </thead>
        <% @todays_reports.each do |todays_report| %>
          <tr>
            <td>
              <%= todays_report.task.execution_time %>
            </td>
            <td>
              <%= todays_report.task.name %>
            </td>
            <%= form_with model: todays_report do |f| %>
            <td>
              <%= f.select :practitioner, options_for_select(options_from_collection_for_select(current_employee.department.employees.all, :id, :employee_display), ''), { prompt: '選択してください' } %>
            </td>
            <td>
              <%= f.submit '変更', class: 'btn btn-outline-success' %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <%# handoverの存在確認 %>
    <% if @handover.blank? %>
    <%# 未作成の場合は以下を表示 %>
      <%= form_with(model: @handover, url: create_handover_path, method: :post) do |f| %>
        <div class="form-group row">
          <div class="col-12">
            <%= f.text_area :handover, class: 'form-control' %>
          </div>
        </div>
        <%= f.hidden_field :department_id, value: current_employee.department.id %>
        <div class="form-group row">
          <div class="col">
            <%= f.submit '引継ぎ作成', class: 'btn btn-outline-primary' %>
          </div>
        </div>
      <% end %>
    <%# 登録済みの場合は以下を表示 %>
    <% else %>
      <%= form_with(model: @handover, url: update_handover_path, method: :patch) do |f| %>
        <div class="form-group row">
          <div class="col-12">
            <%= f.text_area :handover, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <%= f.submit '引継ぎ登録', class: 'btn btn-outline-success' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
