<% if @todays_reports.present? %>
  <%= form_with(model: @daily_report, url: daily_reports_path, method: :post) do |f| %>
    <%= f.hidden_field :department_id, value: current_employee.department.id %>
    <%= f.submit '日報登録' %>
  <% end %>
<% else %>
  <%= form_with(model: @todays_report, url: todays_reports_path, method: :post) do |f| %>
    <%= f.hidden_field :department_id, value: current_employee.department.id %>
    <%= f.submit '新規日報作成' %>
  <% end %>
<% end %>

<%# todays_reportsの存在確認。登録済みなら表示　%>
<% if @todays_reports.present? %>
  <% @todays_reports.each do |todays_report| %>
    <li><%= todays_report.task.execution_time %></li>
    <li><%= todays_report.task.name %></li>
    <li><%= form_with model: todays_report do |f| %>
          <%= f.select :practitioner, options_for_select(options_from_collection_for_select(Employee.all, :id, :last_name), ''), { prompt: '選択してください' } %>
          <%= f.submit '変更', class: "btn btn-success ml-3"  %>
        <% end %>
    </li>
  <% end %>
  <% if @handover.present? %>
    <%= form_with(model: @handover, url: update_handover_path, method: :patch) do |handover| %>
      <%= handover.text_area :handover %>
      <%= handover.submit '引継ぎ登録' %>
    <% end %>
  <% else %>
    <%= form_with(model: @handover, url: create_handover_path, method: :post) do |f| %>
      <%= f.submit '引継ぎ作成' %>
    <% end %>
  <% end %>
<% end %>