<div class="container">
  <div class="row mb-3">
    <h4>業務一覧</h4>
  </div>
  <div class="row mb-3">
    <%= link_to new_task_path, class: 'btn btn-outline-success' do %>
      <span>新規業務登録</span>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-bordered mb-5">
      <thead class="thead-light">
        <th>時間</th>
        <th>業務名</th>
        <th>業務ステータス</th>
        <th></th>
      </thead>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= task.execution_time.strftime('%H:%M') %>
          </td>
          <td>
            <%= task.name %>
          </td>
          <td>
            <% if task.is_active == "有効" %>
              <span class="text-success"><strong><%= task.is_active %></strong></span>
            <% else %>
              <span class="text-secondary"><strong><%= task.is_active %></strong></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_task_path(task.id), class: 'btn btn-outline-success' do %>
              <span>編集</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>