<div class="container">
  <div class="row">
    <h4 class="bg-light px-3 my-3">新規業務登録</h4>
  </div>
  <%= form_with model: @task do |f| %>
  <div class="form-group row">
    <label class="col-3 col-form-label">業務名</label>
    <div class="col-4">
      <%= f.text_field :name, placeholder: "業務名", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">実行時間</label>
    <div class="col-4">
      <%= f.time_select :execution_time,  class: "form-control" %>
    </div>
  </div>
  <%= f.hidden_field :department_id, :value => current_employee.department.id %>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-4 text-center">
      <%= f.submit '新規登録', class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>