<!DOCTYPE html>
<html>
  <head>
    <title>DailyReportService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="shadow-sm mb-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <p class="navbar-brand mb-0 mr-0">Daily Report Service</p>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <% if employer_signed_in? %>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to departments_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>部署一覧</span>
                  <% end %>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to employees_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>従業員一覧</span>
                  <% end %>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to employer_daily_reports_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>日報一覧</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_employer_session_path, method: :delete, class: 'text-decoration-none text-dark btn-default' do%>
                    <span>ログアウト</span>
                  <% end %>
                </li>
              <% elsif employee_signed_in? %>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to todays_tasks_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>日報登録</span>
                  <% end %>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to daily_reports_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>日報一覧</span>
                  <% end %>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to tasks_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>業務一覧</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_employee_session_path, method: :delete, class: 'text-decoration-none text-dark btn-default' do%>
                    <span>ログアウト</span>
                  <% end %>
                </li>

              <% else %>
                <li class="nav-item" style="margin-right: 10px;">
                  <%= link_to new_employee_session_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>従業員ログイン</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_employer_session_path, class: 'text-decoration-none text-dark btn-default' do %>
                    <span>管理者ログイン</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
